﻿@using PagedList;
@using PagedList.Mvc;
@model Web.Models.FizzBuzzModel

<div>

    @Html.BeginForm("GetFizzBuzzList", "FizzBuzz"){
        <div class="col-md-4">
            @Html.LabelFor(model => model.Number)
            @Html.ValidationMessageFor(model => model.Number)
            @Html.TextBoxFor(model => model.Number)
            <input type="submit" id="button" value="Submit" />
        </div>

        @if (Model.FizzBuzzList != null && Model.FizzBuzzList.Any())
        {
            <section id="fizzBuzzList">

                <div class="table-responsive" style="width:600px;margin-left:485px">
                    <table id="fizzbuzzlisttable" class="table table-striped table-bordered table-responsive">
                        <thead class="">
                            <tr>
                                <th class="text-centre datatable-nosort">FizzBuzz List</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.FizzBuzzList)
                            {
                                <tr>
                                    <td class="text-centre">
                                        @if (item.Description.Contains(" "))
                                        {
                                            var values = @item.Description.Split(' ');
                                            var colors = @item.TextColour.Split(' ');
                                            <span class="@colors[0]">@values[0]</span>
                                            <span class="@colors[1]">@values[1]</span>
                                        }
                                        else
                                        {
                                            <span class="@item.TextColour">@item.Description</span>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>   
                    @Html.PagedListPager(Model.FizzBuzzList, page => Url.Action("GetFizzBuzzList", new { Number = Model.Number, page = page, pageSize = Model.FizzBuzzList.PageSize }))

                    Showing @Model.FizzBuzzList.FirstItemOnPage to @Model.FizzBuzzList.LastItemOnPage of @Model.FizzBuzzList.TotalItemCount                
                </div>
            </section>
        }
    }
</div>

<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

